body {
    background-color: aquamarine;
}
#header {
    text-align: center;
}
h2 {
    text-align: center;
}
#wrapper {
    text-align: center;
}

#button {
    font-size: xx-large;
    border: 10px groove gray;
}
#wrapper button:active {
    transform: scale(0.90);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
}
#num {
    text-align: center;
}
